<%- include("partials/header") %>


<div id = "application" class = "ui main text container segment">
	<h1>Log In!</h1>
	<form class = "ui form" action="/login" method="POST">
	<div class = "field">
		 <input type="text" name="username" placeholder="username">
	</div>
	<div class = "field">
		   <input type="password" name="password" placeholder="password"> 
	</div>
 
	<button id = "knob" class = "ui primary button">LOG IN</button>   		<!--  we can also use input element -->
</form>	
</div>

<%- include("partials/footer") %>


